{% extends "base.html" -%}

{% block main -%}
{% set all_categories = get_taxonomy(kind="categories",lang=lang) -%}
{% set_global note_pages = [] -%}
{% for cat in all_categories.items -%} 
  {% if cat.name == "Notes" -%}
    {% set_global note_pages = cat.pages | sort(attribute="updated") | reverse -%}
  {% endif -%}
{% endfor -%}

    {{ section.content | safe }}
    <section class="articles h-feed hfeed">
    {% set all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") -%}
    {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
      {{ macro::post_max(page=page) }}   
    {% endfor %} 

    <h3 class="no-border">{{trans(key="label_all_posts",lang=lang) | markdown(inline=true) | safe}}</h3>
    </section>
    <hr class="w-full">
    
{% endblock main -%}  
